@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
$dark-grey: #555;
$white: #fff;
$blackish: #222;


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a:hover {
  text-decoration: none;
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;

}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 18px;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $white;
  color: $light-grey;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }

    a {
      color: $dark-grey;
      padding: 10px;
      &:hover {
        color: red;
      }
    }

  } /* end ul */

} /* end footer */


